extends layout

block content
  h1 please log in
  form(action="/login" method="POST")
    label(for="username") Username
    input(name="username" placeholder="username" type="text")
    label(for="password") Password
    input(name="password" type="password")
    button(type="submit") Log In
