extends layout

block content
  .form-content
    h1 Log-in
    form(action="/login" method="POST")
      label(for="username") Username (email):
      input(name="username" placeholder="Username" type="text")
      label(for="password") Password:
      input(name="password" placeholder="Password" type="password")
      button(type="submit") Log In
