extends layout

block content
  .form-content
    h1= title

    form(method="POST")
      div.form-group
        label(for="text") Text:
        textarea#text.form-control(type="text", placeholder="Input message here" name="text" required value=(undefined===message ? '' : message.text))
      button(type="submit") Submit

  if errors
    ul.errors
      for error in errors
        li!= error.msg
