extends layout

block content
  .form-content
    h1= title

    form(method="POST")
      div.form-group
        label(for="name") Name:
        input#name.form-control(type="text", placeholder="Name" name="name" required value=(undefined===user ? '' : user.name))
      div.form-group
        label(for="username") Username (email):
        input#username.form-control(type="email", placeholder="Username" name="username" required value=(undefined===user ? '' : user.username))
      div.form-group
        label(for="password") Password:
        input#password.form-control(type="password", placeholder="Password" name="password" required value=(undefined===user ? '' : user.password))
      div.form-group
        label(for="confirmpassword") Confirm password:
        input#confirmpassword.form-control(type="password", placeholder="Confirm password" name="confirmpassword" required value=(undefined===user ? '' : ''))
      button(type="submit") Submit

  if errors
    ul.errors
      for error in errors
        li!= error.msg
